{erl_opts, [debug_info]}.
{deps, []}.



{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, []},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.


{profiles, [{docs,
             [{deps, [
                      {edown,
                       {git, "https://github.com/uwiger/edown.git",
                        {tag, "0.7"}}}
             ]},

              {edoc_opts, [{doclet, edown_doclet},
                           {packages, false},
                           {subpackages, true},
                           {top_level_readme,
                            {"./README.md", "http://github.com/bougueil/erlang-redi"}}]}
             ]}]}.
