{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [erlfmt]}.
{erlfmt, [write]}.

{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    % top_level_deps | all_deps
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    % local | "/my/file/name"
    {plt_location, local},
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    % global | "/my/file/name"
    {base_plt_location, global},
    {base_plt_prefix, "rebar3"}
]}.

{profiles, [
    {docs, [
        {deps, [
            {edown, {git, "https://github.com/uwiger/edown.git", {tag, "0.7"}}}
        ]},

        {edoc_opts, [
            {doclet, edown_doclet},
            {packages, false},
            {subpackages, true},
            {top_level_readme, {"./README.md", "http://github.com/bougueil/erlang-redi"}}
        ]}
    ]}
]}.
